.DS_Store
.nyc_output
node_modules
coverage
coverage.lcov
npm-debug.log
test/**/dist/*
logs
*.log
npm-debug.log*
.eslintcache
/coverage
/dist
/local
/reports
/node_modules
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
test/fixtures/*/output.js*
